/* Global Tokens */
:root {
  --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  --container-sm: 24rem; /* 384px */

  --tracking-wider: 0.05em;

  --radius-sm: 0.25rem;  /* 4px */
  --radius-md: 0.375rem; /* 6px */
  --radius-lg: 0.5rem;   /* 8px */
  --radius-xl: 0.75rem; /* 12px */

  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* Light Theme */
:root {
  /* Pure White */
  --color-bg: #ffffff;
  /* Slate 800 */
  --color-text: #1e293b;
}

/* Dark Theme */
[data-theme='dark'] {
  /* Slate 900 */
  --color-bg: #0f172a;
  /* Slate 50 */
  --color-text: #f8fafc;
}
